{% extends 'base.html' %}

{% block content %}
		<h2 class="h2">Create New Post</h2>
		<form method="POST">
			{{ form.hidden_tag() }}
			<div>
				<label style="display:block; margin-bottom:5px; font-weight:600;">{{ form.title.label }}</label>
				{{ form.title(rows=6, cols=50, style="width:100%; padding:8px;
				border:1px solid #ccc; border-radius:5px; font-size:1em; resize:vertical;") }}
			</div>
			<div >
				<label style="display:block; margin-bottom:5px; font-weight:600;">{{ form.content.label }}</label>
				{{ form.content(rows=6, cols=50, style="width:100%; padding:8px;
				border:1px solid #ccc; border-radius:5px; font-size:1em; resize:vertical;") }}
			</div>

			{{ form.submit() }}
		</form>
		<div style="margin-top: 250px;">
			<a href="{{ url_for('main.index') }}">Back to Home</a>
		</div>
	</div>
{% endblock %}

