{% extends 'base.html' %}
{% block content %}
	<h1>Register to create blogs </h1>
	<form method="POST">
		{{ form.hidden_tag() }}
		<label>{{ form.username.label }}</label>
		{{ form.username() }}

		<label>{{ form.password.label }}</label>
		{{ form.password() }}

		<label>{{ form.confirm.label }}</label>
		{{ form.confirm() }}

		{{ form.submit() }}
	</form>
	<div style="margin-left: 5px;">
		<p>Already have an account? <a href="{{ url_for('main.login') }}">Login here</a></p>
	</div>
{% endblock %}
